<?xml version="1.0" encoding="UTF-8" ?>
<!--这个是sql映射文件，是用来写sql语句的，通常一个表对应一个sql映射文件-->

<!--指定约束文件：mybatis-3-mapper是约束文件的名称
    约束文件的作用：限制和检查在当前文件中出现的标签和属性必须要符合Mybatis的要求-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace目前可以自定义要唯一，将来面向接口编程时对应dao接口，一
个mapper相当于web阶段的dao接口的实现类 -->

<!--mapper标签是当前文件的根标签
    namespace：命名空间，值可以自定义，是唯一的，要求使用dao接口的全限定名称-->
<mapper namespace="com.jxd.reimbursementsystem.dao.IEmployeesDao">

    <!--在映射文件中使用特定的标签，表示数据库中特点的操作
        <select>：表示查询操作
        id：要执行的sql语句的唯一标识，要求使用的是dao接口的方法的方法名称
        resultType：表示结果类型，是sql语句执行后得到ResultSet结果集，
                    遍历ResultSet结果集得到的一个java对象类型
        -->

    <update id="changePassword">
        UPDATE employees SET password = #{password} WHERE eno = #{eno}
    </update>

    <update id="updateIsDeletedOnBatch">
        UPDATE employees e
        SET e.is_deleted = #{setIsDeleted}
        WHERE e.eno in
        <foreach item="item" collection="enos"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <update id="resetPassword">
        UPDATE employees SET password = '123' WHERE eno = #{eno}
    </update>
    <!--Employees doLogin(Employees employees);-->
    <select id="doLogin" resultType="java.util.Map">
        SELECT e.eno,
               e.ename,
               e.is_admin AS isAdmin,
               e.avatar_url AS avatarUrl,
               e.`rank`,
               er.title,
               er.daily_allowance AS dailyAllowance
        FROM employees e
            LEFT JOIN employee_rank er on e.`rank` = er.`rank`
        WHERE e.eno = #{eno}
          AND e.password = #{password}
          AND e.is_deleted = 0
    </select>
    <select id="selectEmployeesByEnoAndEname" resultType="java.util.Map">
        SELECT e.eno, e.ename, e.sex, e.phone, e.`rank`,er.title
        FROM employees e LEFT OUTER JOIN employee_rank er on er.`rank` = e.`rank`
        WHERE e.is_deleted = #{isDeleted}
            <if test=" eno != null and eno != '' ">
                AND e.eno = #{eno}
            </if>
            <if test=" ename != null and ename != '' ">
                AND e.ename LIKE '%' #{ename} '%'
            </if>

    </select>
</mapper>